.wrapper {
  // overflow: hidden;
  // overflow-y: scroll;
  width: 100%;
  height: 610px;
}

.regist-wrapper {
  height: 49em !important;
}

.img-wrapper {
  height: 100%;
  background-image: url("https://www.ishn.com/ext/resources/900x550/airplane-plane-flight-900.jpg?1583412590");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 1.2s ease-in-out;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.16);
  }
}

.form-wrapper {
  padding: 4% 0 0 0;
  margin-right: 4% !important;
  z-index: 10;
  background-color: transparent;
  position: absolute;
  right: 0;

  h4 {
    color: var(--white-color);
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    margin: 28px 0;
  }
}

.LogoMG-wrapper {
  width: 100%;
  text-align: center;
  img {
    width: 200px;
    height: 60px;
    object-fit: cover;
  }
}

.slogan {
  position: absolute;
  top: 8%;
  left: 8%;
  will-change: transform;
  display: inline-block;
  transition: ease-in 0.1s;
  color: var(--white-color);
  font-size: 2.8rem;
  z-index: 10;

  span {
    display: flex;
    justify-content: space-between;
    width: 280px;
    align-items: center;
    font-size: 1.4rem;
  }
}
