.wrapper {
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}

.small {
  width: 35px;
  height: 35px;
}

.medium {
  width: 45px;
  height: 45px;
}

.large {
  width: 55px;
  height: 55px;
}
